<article class="summary-box">
  <div class="summary-title">
    <%= link_to article.title, {controller: "/articles", action: "show", id: article.id} %>
  </div>
  <div class="summary-meta">
    <span class="category"><%= article.related_category_name %><span>
    <span class="date"><%= article.formatted_created_at %><span>
  </div>
  <div class="summary-content">
    <label class="inner">
    <%= truncate(sanitize(article.content, tags: %w(), attributes: %w(href)), length: 200) %>
     </label>
    <label class="read-more">
    <%= render partial: 'shared/read_more', locals: {url_options: {controller: "/articles", action: "show", id: article.id}} %>
    </label>
  </div>
</article>

<%#= raw markdown_to_html article.content %>

