<meta charset="UTF-8">
<%= stylesheet_link_tag 'application', media: 'all' %>
<nav class="header">
  <label class="box-left logo header-logo">
    <i class="weight-b fa fa-code" aria-hidden="true"></i>
    <%- if @breadcrumbs.items.present? %>
      <%= render partial: 'shared/breadcrumbs_trail', locals: {breadcrumbs: @breadcrumbs} %>
    <%- end -%>
  </label>
  <div class="box-right item-wrapper">
    <div class="item"><%= link_to 'Home', feeds_path %> </div>
    <div class="item"><%= link_to 'Articles', articles_path %> </div>
    <div class="item"><%= link_to 'About', resume_index_path %> </div>
  </div>
</nav>
