<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Daily Coading</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
    <%= yield %>
    </div>
    <div class="box-right">
      <div class="page-top pointer weight-b" data-role="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
